# --- Quarto Outputs and Caches ---
.quarto/
_published/.quarto/
_site/
/site_libs/
.jupyter/
*_cache/
html_env/

# --- Obsidian Specifics ---
.obsidian/

# --- Obsidian folders ---
_drafts/


# --- System and OS Files ---
.DS_Store
Thumbs.db
ehthumbs.db
*.tmp
